@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  height : 100%;
  padding-bottom: 50px;
}